Doug Bell <preaction@cpan.org> <madcityzen@gmail.com>
Doug Bell <preaction@cpan.org> <doug@preaction.me>
Doug Bell <preaction@cpan.org> <preaction@users.noreply.github.com>
Oriol Soriano <oriolsoriano@gmail.com> <oriol.soriano@capside.com>
